.signupCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50vw;
    height: 80vh;
    border-radius: 30px;
    padding: 2rem;
    margin-top: 2rem;
    background-color: #f1f1f1;
    gap: 1rem;
    font-size: 1.2rem;
}
.signupCont input{
    width: 50%;
    height: 30px;
    border-radius: 30px;
    border: none;
    font-size: 1.2rem;
    text-align: center;
}

.subm{
    width: 50%;
    height: 50px;
    border-radius: 30px;
    border: none;
    padding: 0 1rem;
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
